.navbar-module {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--navbar-color);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    will-change: transform, opacity;
}